Read Data From Json

In [ ]:
import json

fd = open("record.json",'r')
r = fd.read()
fd.close()

record = json.loads(r)

In [ ]:
for i in record:
  print(i,record[i]['name'],record[i]['quantity'])

12001 Kit-kat 43
12002 5-star 50
12003 Kit-kat 40
12004 Milk 20
12005 Drink 55
12006 Parle-G 72
12007 Parle-G 50
12008 Bourbon 65
12009 Jim-Jam 62
12010 Jim-Jam 40
12011 Bread 30
12012 Kurkure 29
12013 kurkure 60
12014 Lays 44
12015 Lays 31
12016 Bingo 55
12017 Too-Yum 43
12018 Pringles 52
12019 Maxx 55
12020 cheese 38
12021 Butter 65
12022 Doritos 45
12023 Cadbury 40
12024 Cadbury 39
12025 Cadbury 25
12026 Milky-bar 45
12027 Solid-masti 25
12028 Mad-angles 58
12029 Perk 46
12030 Bourn-vita 38
12031 Butter 397
12032 Candy 23

Adding New Item to Inventory

In [21]:
while True:
  prod_id = str(input("Enter product id:"))
  qn = int(input("Enter quantity:"))

# This is one way to solve the problem
# ids = list(record.keys())
# num = ids.count(prod_id)

# if (num ==0):
#   name = str(input("Enter name:"))
#   pr = int(input("Enter price:"))
#   exp_date = str(input("Enter expiry date:"))
#   typ = str(input("Enter type:"))
#   record[prod_id] = {'name': name, 'price': pr, 'Exp-date': exp_date, 'quantity': qn, 'type': typ}
# else:
#   new_qn = record[prod_id]['quantity'] + qn
#   record[prod_id] = {'name': name, 'price': pr, 'Exp-date': exp_date, 'quantity': new_qn, }
 
# This is another approach 
  if prod_id not in record.keys():
    name = (input("Enter name:"))
    pr = int(input("Enter price:"))
    exp_date = input("Enter expiry date:")
    typ = input("Enter type:")
    record[prod_id] = {'name': name, 'price': pr, 'Exp-date': exp_date, 'quantity': qn, 'type': typ}
  else:
    new_qn = record[prod_id]['quantity'] + qn
    # record[prod_id] = {'name': name, 'price': pr, 'Exp-date': exp_date, 'quantity': new_qn, 'type': typ}
    record[prod_id]['quantity'] =  new_qn

  js = json.dumps(record)

  fd = open("record.json",'w')
  fd.write(js)
  fd.close()

  op = input("Want to add more? (Y/N):")
  if (op == "N"):
    break

Enter product id:12004
Enter quantity:2
Want to add more? (Y/N):N

In [ ]:
record['12004']

{'Exp-date': '9/21',
 'name': 'Milk',
 'price': 58,
 'quantity': 41,
 'type': 'milk-product'}