Read Inventory

In [3]:
import json
import time

fd = open("record.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [2]:
records

{'12001': {'Exp-date': '5/22',
  'name': 'Kit-kat',
  'price': 20,
  'quantity': 43,
  'type': 'chocolate'},
 '12002': {'Exp-date': '6/22',
  'name': '5-star',
  'price': 5,
  'quantity': 50,
  'type': 'chocolate'},
 '12003': {'Exp-date': '5/22',
  'name': 'Kit-kat',
  'price': 10,
  'quantity': 40,
  'type': 'chocolate'},
 '12004': {'Exp-date': '9/21',
  'name': 'Milk',
  'price': 58,
  'quantity': 41,
  'type': 'milk-product'},
 '12005': {'Exp-date': '5/22',
  'name': 'Drink',
  'price': 20,
  'quantity': 55,
  'type': 'liquid'},
 '12006': {'Exp-date': '6/22',
  'name': 'Parle-G',
  'price': 5,
  'quantity': 72,
  'type': 'biscuit'},
 '12007': {'Exp-date': '5/22',
  'name': 'Parle-G',
  'price': 20,
  'quantity': 50,
  'type': 'biscuit'},
 '12008': {'Exp-date': '8/22',
  'name': 'Bourbon',
  'price': 10,
  'quantity': 65,
  'type': 'biscuit'},
 '12009': {'Exp-date': '7/22',
  'name': 'Jim-Jam',
  'price': 10,
  'quantity': 62,
  'type': 'biscuit'},
 '12010': {'Exp-date': '7/22',
  'name': 'Jim-Jam',
  'price': 20,
  'quantity': 40,
  'type': 'biscuit'},
 '12011': {'Exp-date': '5/22',
  'name': 'Bread',
  'price': 20,
  'quantity': 30,
  'type': 'snack'},
 '12012': {'Exp-date': '2/22',
  'name': 'Kurkure',
  'price': 5,
  'quantity': 54,
  'type': 'snack'},
 '12013': {'Exp-date': '2/22',
  'name': 'kurkure',
  'price': 10,
  'quantity': 60,
  'type': 'snack'},
 '12014': {'Exp-date': '5/22',
  'name': 'Lays',
  'price': 20,
  'quantity': 44,
  'type': 'snack'},
 '12015': {'Exp-date': '4/22',
  'name': 'Lays',
  'price': 10,
  'quantity': 31,
  'type': 'snack'},
 '12016': {'Exp-date': '3/22',
  'name': 'Bingo',
  'price': 20,
  'quantity': 55,
  'type': 'snack'},
 '12017': {'Exp-date': '9/22',
  'name': 'Too-Yum',
  'price': 20,
  'quantity': 43,
  'type': 'snack'},
 '12018': {'Exp-date': '4/22',
  'name': 'Pringles',
  'price': 20,
  'quantity': 52,
  'type': 'snack'},
 '12019': {'Exp-date': '8/22',
  'name': 'Maxx',
  'price': 20,
  'quantity': 55,
  'type': 'snack'},
 '12020': {'Exp-date': '10/21',
  'name': 'cheese',
  'price': 20,
  'quantity': 38,
  'type': 'milk-product'},
 '12021': {'Exp-date': '4/22',
  'name': 'Butter',
  'price': 20,
  'quantity': 65,
  'type': 'milk-product'},
 '12022': {'Exp-date': '6/22',
  'name': 'Doritos',
  'price': 20,
  'quantity': 45,
  'type': 'snack'},
 '12023': {'Exp-date': '5/22',
  'name': 'Cadbury',
  'price': 20,
  'quantity': 40,
  'type': 'chocolate'},
 '12024': {'Exp-date': '6/22',
  'name': 'Cadbury',
  'price': 10,
  'quantity': 39,
  'type': 'chocolate'},
 '12025': {'Exp-date': '5/22',
  'name': 'Cadbury',
  'price': 60,
  'quantity': 25,
  'type': 'chocolate'},
 '12026': {'Exp-date': '5/22',
  'name': 'Milky-bar',
  'price': 20,
  'quantity': 45,
  'type': 'chocolate'},
 '12027': {'Exp-date': '5/22',
  'name': 'Solid-masti',
  'price': 20,
  'quantity': 25,
  'type': 'snack'},
 '12028': {'Exp-date': '6/22',
  'name': 'Mad-angles',
  'price': 10,
  'quantity': 58,
  'type': 'snack'},
 '12029': {'Exp-date': '2/22',
  'name': 'Perk',
  'price': 5,
  'quantity': 46,
  'type': 'snack'},
 '12030': {'Exp-date': '8/22',
  'name': 'Bourn-vita',
  'price': 20,
  'quantity': 38,
  'type': 'snack'},
 '12031': {'Exp-date': '4/22',
  'name': 'Butter',
  'price': 20,
  'quantity': 397,
  'type': 'milk-product'},
 '12032': {'Exp-date': '4/22',
  'name': 'Candy',
  'price': 5,
  'quantity': 228,
  'type': 'snack'}}

Purchase

In [11]:

sales = {}
tr_id = 1

In [20]:
total_amt = []
while True:
  ui_prod  = str(input("Enter the product_Id: "))
  ui_quant = int(input("Enter the quantity: "))

  num = records[ui_prod]['quantity']
  if (num>=ui_quant):
    print("Product: ", records[ui_prod]['name'])
    print("Price: ", records[ui_prod]['price'])
    amt = records[ui_prod]['price'] * ui_quant
    print("Billing Amount: ", amt)
    total_amt.append(amt)
    sales[tr_id] = {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['price'] * ui_quant} 
    tr_id += 1
    records[ui_prod]['quantity'] = records[ui_prod]['quantity'] - ui_quant
    # sales = { len(sales)+1 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['price'] * ui_quant} }

  else:
    print("sorry we are out of stock")

  op = input("Do you want continue shopping (Y/N):")
  if (op == "N"):
    print("Hope to see you again!:)")
    break

total = 0
for ele in range (0, len(total_amt)):
    total = total + total_amt[ele]
print("Total billing price ", total)
# print(sales)

Enter the product_Id: 12019
Enter the quantity: 2
Product:  Maxx
Price:  20
Billing Amount:  40
Do you want continue shopping (Y/N):
Enter the product_Id: 12018
Enter the quantity: 1
Product:  Pringles
Price:  20
Billing Amount:  20
Do you want continue shopping (Y/N):
Enter the product_Id: 12028
Enter the quantity: 2
Product:  Mad-angles
Price:  10
Billing Amount:  20
Do you want continue shopping (Y/N):
Enter the product_Id: 12023
Enter the quantity: 1
Product:  Cadbury
Price:  20
Billing Amount:  20
Do you want continue shopping (Y/N):N
Hope to see you again!:)
Total billing price  100

Update

In [21]:
js = json.dumps(records)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Sales

In [22]:
sale = json.dumps(sales)

fd = open("sale.json",'w')
fd.write(sale)
fd.close()